---
import DefaultPageLayout from "../layouts/default.astro"
import PostPreviewList from "../components/PostPreviewList.astro"

const title = "BrianZ"

const description = "An AWS-focused SaaS application architecture blog"

const posts = await Astro.glob("./blog/*.md")
---

<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
  <PostPreviewList posts={posts} />
  <div class="justify-center md:justify-end py-6 flex">
    <a
      class="uppercase text-gray-500 dark:text-gray-400 hover:underline"
      href="/blog"
      title="All Posts">All Posts &rarr;</a
    >
  </div>
</DefaultPageLayout>
